/* margin css */
.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.1rem !important;
}

.mt-2 {
  margin-top: 0.2rem !important;
}

.mt-3 {
  margin-top: 0.3rem !important;
}

.mt-4 {
  margin-top: 0.4rem !important;
}

.mt-5 {
  margin-top: 0.5rem !important;
}

.mt-6 {
  margin-top: 0.6rem !important;
}

.mt-8 {
  margin-top: 0.8rem !important;
}

.mt-10 {
  margin-top: 0.10rem !important;
}

.mt-12 {
  margin-top: 0.12rem !important;
}

.mt-14 {
  margin-top: 0.14rem !important;
}

.mt-15 {
  margin-top: 1.5rem !important;
}

.mt-16 {
  margin-top: 1.6rem !important;
}

.mt-18 {
  margin-top: 1.8rem !important;
}

.mt-20 {
  margin-top: 2.0rem !important;
}

.mt-22 {
  margin-top: 2.2rem !important;
}

.mt-24 {
  margin-top: 2.4rem !important;
}

.mt-25 {
  margin-top: 2.5rem !important;
}

.mt-26 {
  margin-top: 2.6rem !important;
}

.mt-28 {
  margin-top: 2.8rem !important;
}

.mt-30 {
  margin-top: 3.0rem !important;
}

.mt-32 {
  margin-top: 3.2rem !important;
}

.mt-35 {
  margin-top: 3.5rem !important;
}

.mt-36 {
  margin-top: 3.6rem !important;
}

.mt-38 {
  margin-top: 3.8rem !important;
}

.mt-40 {
  margin-top: 4.0rem !important;
}

.mt-42 {
  margin-top: 4.2rem !important;
}

.mt-45 {
  margin-top: 4.5rem !important;
}

.mt-48 {
  margin-top: 4.8rem !important;
}

.mt-50 {
  margin-top: 5.0rem !important;
}

.mt-60 {
  margin-top: 6.0rem !important;
}

.mt-70 {
  margin-top: 7.0rem !important;
}

.mt-80 {
  margin-top: 8.0rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.1rem !important;
}

.mb-2 {
  margin-bottom: 0.2rem !important;
}

.mb-3 {
  margin-bottom: 0.3rem !important;
}

.mb-4 {
  margin-bottom: 0.4rem !important;
}

.mb-5 {
  margin-bottom: 0.5rem !important;
}

.mb-6 {
  margin-bottom: 0.6rem !important;
}

.mb-8 {
  margin-bottom: 0.8rem !important;
}

.mb-10 {
  margin-bottom: 0.10rem !important;
}

.mb-12 {
  margin-bottom: 0.12rem !important;
}

.mb-14 {
  margin-bottom: 0.14rem !important;
}

.mb-15 {
  margin-bottom: 1.5rem !important;
}

.mb-16 {
  margin-bottom: 1.6rem !important;
}

.mb-18 {
  margin-bottom: 1.8rem !important;
}

.mb-20 {
  margin-bottom: 2.0rem !important;
}

.mb-22 {
  margin-bottom: 2.2rem !important;
}

.mb-24 {
  margin-bottom: 2.4rem !important;
}

.mb-25 {
  margin-bottom: 2.5rem !important;
}

.mb-26 {
  margin-bottom: 2.6rem !important;
}

.mb-28 {
  margin-bottom: 2.8rem !important;
}

.mb-30 {
  margin-bottom: 3.0rem !important;
}

.mb-32 {
  margin-bottom: 3.2rem !important;
}

.mb-35 {
  margin-bottom: 3.5rem !important;
}

.mb-36 {
  margin-bottom: 3.6rem !important;
}

.mb-38 {
  margin-bottom: 3.8rem !important;
}

.mb-40 {
  margin-bottom: 4.0rem !important;
}

.mb-42 {
  margin-bottom: 4.2rem !important;
}

.mb-45 {
  margin-bottom: 4.5rem !important;
}

.mb-48 {
  margin-bottom: 4.8rem !important;
}

.mb-50 {
  margin-bottom: 5.0rem !important;
}

.mb-60 {
  margin-bottom: 6.0rem !important;
}

.mb-70 {
  margin-bottom: 7.0rem !important;
}

.mb-80 {
  margin-bottom: 8.0rem !important;
}

.mb-90 {
  margin-bottom: 9.0rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 0.1rem !important;
}

.ml-2 {
  margin-left: 0.2rem !important;
}

.ml-3 {
  margin-left: 0.3rem !important;
}

.ml-4 {
  margin-left: 0.4rem !important;
}

.ml-5 {
  margin-left: 0.5rem !important;
}

.ml-6 {
  margin-left: 0.6rem !important;
}

.ml-8 {
  margin-left: 0.8rem !important;
}

.ml-10 {
  margin-left: 0.10rem !important;
}

.ml-12 {
  margin-left: 0.12rem !important;
}

.ml-14 {
  margin-left: 0.14rem !important;
}

.ml-15 {
  margin-left: 1.5rem !important;
}

.ml-16 {
  margin-left: 1.6rem !important;
}

.ml-18 {
  margin-left: 1.8rem !important;
}

.ml-20 {
  margin-left: 2.0rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.1rem !important;
}

.mr-2 {
  margin-right: 0.2rem !important;
}

.mr-3 {
  margin-right: 0.3rem !important;
}

.mr-4 {
  margin-right: 0.4rem !important;
}

.mr-5 {
  margin-right: 0.5rem !important;
}

.mr-6 {
  margin-right: 0.6rem !important;
}

.mr-8 {
  margin-right: 0.8rem !important;
}

.mr-10 {
  margin-right: 0.10rem !important;
}

.mr-12 {
  margin-right: 0.12rem !important;
}

.mr-14 {
  margin-right: 0.14rem !important;
}

.mr-15 {
  margin-right: 1.5rem !important;
}

.mr-16 {
  margin-right: 1.6rem !important;
}

.mr-18 {
  margin-right: 1.8rem !important;
}

.mr-20 {
  margin-right: 2.0rem !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 0.1rem !important;
  margin-right: 0.1rem !important;
}

.mx-2 {
  margin-left: 0.2rem !important;
  margin-right: 0.2rem !important;
}

.mx-3 {
  margin-left: 0.3rem !important;
  margin-right: 0.3rem !important;
}

.mx-4 {
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;
}

.mx-5 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mx-6 {
  margin-left: 0.6rem !important;
  margin-right: 0.6rem !important;
}

.mx-8 {
  margin-left: 0.8rem !important;
  margin-right: 0.8rem !important;
}

.mx-10 {
  margin-left: 1.0rem !important;
  margin-right: 1.0rem !important;
}

/* padding css */
.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.1rem !important;
}

.pt-2 {
  padding-top: 0.2rem !important;
}

.pt-3 {
  padding-top: 0.3rem !important;
}

.pt-4 {
  padding-top: 0.4rem !important;
}

.pt-5 {
  padding-top: 0.5rem !important;
}

.pt-6 {
  padding-top: 0.6rem !important;
}

.pt-8 {
  padding-top: 0.8rem !important;
}

.pt-10 {
  padding-top: 0.10rem !important;
}

.pt-12 {
  padding-top: 0.12rem !important;
}

.pt-14 {
  padding-top: 0.14rem !important;
}

.pt-15 {
  padding-top: 1.5rem !important;
}

.pt-16 {
  padding-top: 1.6rem !important;
}

.pt-18 {
  padding-top: 1.8rem !important;
}

.pt-20 {
  padding-top: 2.0rem !important;
}

.pt-22 {
  padding-top: 2.2rem !important;
}

.pt-24 {
  padding-top: 2.4rem !important;
}

.pt-25 {
  padding-top: 2.5rem !important;
}

.pt-26 {
  padding-top: 2.6rem !important;
}

.pt-28 {
  padding-top: 2.8rem !important;
}

.pt-30 {
  padding-top: 3.0rem !important;
}

.pt-32 {
  padding-top: 3.2rem !important;
}

.pt-35 {
  padding-top: 3.5rem !important;
}

.pt-36 {
  padding-top: 3.6rem !important;
}

.pt-38 {
  padding-top: 3.8rem !important;
}

.pt-40 {
  padding-top: 4.0rem !important;
}

.pt-42 {
  padding-top: 4.2rem !important;
}

.pt-45 {
  padding-top: 4.5rem !important;
}

.pt-48 {
  padding-top: 4.8rem !important;
}

.pt-50 {
  padding-top: 5.0rem !important;
}

.pt-60 {
  padding-top: 6.0rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.1rem !important;
}

.pb-2 {
  padding-bottom: 0.2rem !important;
}

.pb-3 {
  padding-bottom: 0.3rem !important;
}

.pb-4 {
  padding-bottom: 0.4rem !important;
}

.pb-5 {
  padding-bottom: 0.5rem !important;
}

.pb-6 {
  padding-bottom: 0.6rem !important;
}

.pb-8 {
  padding-bottom: 0.8rem !important;
}

.pb-10 {
  padding-bottom: 0.10rem !important;
}

.pb-12 {
  padding-bottom: 0.12rem !important;
}

.pb-14 {
  padding-bottom: 0.14rem !important;
}

.pb-15 {
  padding-bottom: 1.5rem !important;
}

.pb-16 {
  padding-bottom: 1.6rem !important;
}

.pb-18 {
  padding-bottom: 1.8rem !important;
}

.pb-20 {
  padding-bottom: 2.0rem !important;
}

.pb-22 {
  padding-bottom: 2.2rem !important;
}

.pb-24 {
  padding-bottom: 2.4rem !important;
}

.pb-25 {
  padding-bottom: 2.5rem !important;
}

.pb-26 {
  padding-bottom: 2.6rem !important;
}

.pb-28 {
  padding-bottom: 2.8rem !important;
}

.pb-30 {
  padding-bottom: 3.0rem !important;
}

.pb-32 {
  padding-bottom: 3.2rem !important;
}

.pb-35 {
  padding-bottom: 3.5rem !important;
}

.pb-36 {
  padding-bottom: 3.6rem !important;
}

.pb-38 {
  padding-bottom: 3.8rem !important;
}

.pb-40 {
  padding-bottom: 4.0rem !important;
}

.pb-42 {
  padding-bottom: 4.2rem !important;
}

.pb-45 {
  padding-bottom: 4.5rem !important;
}

.pb-48 {
  padding-bottom: 4.8rem !important;
}

.pb-50 {
  padding-bottom: 5.0rem !important;
}

.pb-60 {
  padding-bottom: 6.0rem !important;
}

.pb-70 {
  padding-bottom: 7.0rem !important;
}

.pb-80 {
  padding-bottom: 8.0rem !important;
}

.pb-90 {
  padding-bottom: 9.0rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 0.1rem !important;
}

.pl-2 {
  padding-left: 0.2rem !important;
}

.pl-3 {
  padding-left: 0.3rem !important;
}

.pl-4 {
  padding-left: 0.4rem !important;
}

.pl-5 {
  padding-left: 0.5rem !important;
}

.pl-6 {
  padding-left: 0.6rem !important;
}

.pl-8 {
  padding-left: 0.8rem !important;
}

.pl-10 {
  padding-left: 0.10rem !important;
}

.pl-12 {
  padding-left: 0.12rem !important;
}

.pl-14 {
  padding-left: 0.14rem !important;
}

.pl-15 {
  padding-left: 1.5rem !important;
}

.pl-16 {
  padding-left: 1.6rem !important;
}

.pl-18 {
  padding-left: 1.8rem !important;
}

.pl-20 {
  padding-left: 2.0rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 0.1rem !important;
}

.pr-2 {
  padding-right: 0.2rem !important;
}

.pr-3 {
  padding-right: 0.3rem !important;
}

.pr-4 {
  padding-right: 0.4rem !important;
}

.pr-5 {
  padding-right: 0.5rem !important;
}

.pr-6 {
  padding-right: 0.6rem !important;
}

.pr-8 {
  padding-right: 0.8rem !important;
}

.pr-10 {
  padding-right: 0.10rem !important;
}

.pr-12 {
  padding-right: 0.12rem !important;
}

.pr-14 {
  padding-right: 0.14rem !important;
}

.pr-15 {
  padding-right: 1.5rem !important;
}

.pr-16 {
  padding-right: 1.6rem !important;
}

.pr-18 {
  padding-right: 1.8rem !important;
}

.pr-20 {
  padding-right: 2.0rem !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media only screen and (max-width: 768px) {
  .mt-sp-0 {
    margin-top: 0 !important;
  }
  .mt-sp-1 {
    margin-top: 0.1rem !important;
  }
  .mt-sp-2 {
    margin-top: 0.2rem !important;
  }
  .mt-sp-3 {
    margin-top: 0.3rem !important;
  }
  .mt-sp-4 {
    margin-top: 0.4rem !important;
  }
  .mt-sp-5 {
    margin-top: 0.5rem !important;
  }
  .mt-sp-6 {
    margin-top: 0.6rem !important;
  }
  .mt-sp-8 {
    margin-top: 0.8rem !important;
  }
  .mt-sp-10 {
    margin-top: 0.10rem !important;
  }
  .mt-sp-12 {
    margin-top: 0.12rem !important;
  }
  .mt-sp-14 {
    margin-top: 0.14rem !important;
  }
  .mt-sp-15 {
    margin-top: 1.5rem !important;
  }
  .mt-sp-16 {
    margin-top: 1.6rem !important;
  }
  .mt-sp-18 {
    margin-top: 1.8rem !important;
  }
  .mt-sp-20 {
    margin-top: 2.0rem !important;
  }
  .mt-sp-22 {
    margin-top: 2.2rem !important;
  }
  .mt-sp-24 {
    margin-top: 2.4rem !important;
  }
  .mt-sp-25 {
    margin-top: 2.5rem !important;
  }
  .mt-sp-26 {
    margin-top: 2.6rem !important;
  }
  .mt-sp-28 {
    margin-top: 2.8rem !important;
  }
  .mt-sp-30 {
    margin-top: 3.0rem !important;
  }
  .mt-sp-32 {
    margin-top: 3.2rem !important;
  }
  .mt-sp-35 {
    margin-top: 3.5rem !important;
  }
  .mt-sp-36 {
    margin-top: 3.6rem !important;
  }
  .mt-sp-38 {
    margin-top: 3.8rem !important;
  }
  .mt-sp-40 {
    margin-top: 4.0rem !important;
  }
  .mt-sp-42 {
    margin-top: 4.2rem !important;
  }
  .mt-sp-45 {
    margin-top: 4.5rem !important;
  }
  .mt-sp-48 {
    margin-top: 4.8rem !important;
  }
  .mt-sp-50 {
    margin-top: 5.0rem !important;
  }
  .mt-sp-60 {
    margin-top: 6.0rem !important;
  }
  .mb-sp-0 {
    margin-bottom: 0 !important;
  }
  .mb-sp-1 {
    margin-bottom: 0.1rem !important;
  }
  .mb-sp-2 {
    margin-bottom: 0.2rem !important;
  }
  .mb-sp-3 {
    margin-bottom: 0.3rem !important;
  }
  .mb-sp-4 {
    margin-bottom: 0.4rem !important;
  }
  .mb-sp-5 {
    margin-bottom: 0.5rem !important;
  }
  .mb-sp-6 {
    margin-bottom: 0.6rem !important;
  }
  .mb-sp-8 {
    margin-bottom: 0.8rem !important;
  }
  .mb-sp-10 {
    margin-bottom: 0.10rem !important;
  }
  .mb-sp-12 {
    margin-bottom: 0.12rem !important;
  }
  .mb-sp-14 {
    margin-bottom: 0.14rem !important;
  }
  .mb-sp-15 {
    margin-bottom: 1.5rem !important;
  }
  .mb-sp-16 {
    margin-bottom: 1.6rem !important;
  }
  .mb-sp-18 {
    margin-bottom: 1.8rem !important;
  }
  .mb-sp-20 {
    margin-bottom: 2.0rem !important;
  }
  .mb-sp-22 {
    margin-bottom: 2.2rem !important;
  }
  .mb-sp-24 {
    margin-bottom: 2.4rem !important;
  }
  .mb-sp-25 {
    margin-bottom: 2.5rem !important;
  }
  .mb-sp-26 {
    margin-bottom: 2.6rem !important;
  }
  .mb-sp-28 {
    margin-bottom: 2.8rem !important;
  }
  .mb-sp-30 {
    margin-bottom: 3.0rem !important;
  }
  .mb-sp-32 {
    margin-bottom: 3.2rem !important;
  }
  .mb-sp-35 {
    margin-bottom: 3.5rem !important;
  }
  .mb-sp-36 {
    margin-bottom: 3.6rem !important;
  }
  .mb-sp-38 {
    margin-bottom: 3.8rem !important;
  }
  .mb-sp-40 {
    margin-bottom: 4.0rem !important;
  }
  .mb-sp-42 {
    margin-bottom: 4.2rem !important;
  }
  .mb-sp-45 {
    margin-bottom: 4.5rem !important;
  }
  .mb-sp-48 {
    margin-bottom: 4.8rem !important;
  }
  .mb-sp-50 {
    margin-bottom: 5.0rem !important;
  }
  .mb-sp-60 {
    margin-bottom: 6.0rem !important;
  }
  .mb-sp-70 {
    margin-bottom: 7.0rem !important;
  }
  .mb-sp-80 {
    margin-bottom: 8.0rem !important;
  }
  .mb-sp-90 {
    margin-bottom: 9.0rem !important;
  }
  .ml-sp-0 {
    margin-left: 0 !important;
  }
  .ml-sp-1 {
    margin-left: 0.1rem !important;
  }
  .ml-sp-2 {
    margin-left: 0.2rem !important;
  }
  .ml-sp-3 {
    margin-left: 0.3rem !important;
  }
  .ml-sp-4 {
    margin-left: 0.4rem !important;
  }
  .ml-sp-5 {
    margin-left: 0.5rem !important;
  }
  .ml-sp-6 {
    margin-left: 0.6rem !important;
  }
  .ml-sp-8 {
    margin-left: 0.8rem !important;
  }
  .ml-sp-10 {
    margin-left: 0.10rem !important;
  }
  .ml-sp-12 {
    margin-left: 0.12rem !important;
  }
  .ml-sp-14 {
    margin-left: 0.14rem !important;
  }
  .ml-sp-15 {
    margin-left: 1.5rem !important;
  }
  .ml-sp-16 {
    margin-left: 1.6rem !important;
  }
  .ml-sp-18 {
    margin-left: 1.8rem !important;
  }
  .ml-sp-20 {
    margin-left: 2.0rem !important;
  }
  .mr-sp-0 {
    margin-right: 0 !important;
  }
  .mr-sp-1 {
    margin-right: 0.1rem !important;
  }
  .mr-sp-2 {
    margin-right: 0.2rem !important;
  }
  .mr-sp-3 {
    margin-right: 0.3rem !important;
  }
  .mr-sp-4 {
    margin-right: 0.4rem !important;
  }
  .mr-sp-5 {
    margin-right: 0.5rem !important;
  }
  .mr-sp-6 {
    margin-right: 0.6rem !important;
  }
  .mr-sp-8 {
    margin-right: 0.8rem !important;
  }
  .mr-sp-10 {
    margin-right: 0.10rem !important;
  }
  .mr-sp-12 {
    margin-right: 0.12rem !important;
  }
  .mr-sp-14 {
    margin-right: 0.14rem !important;
  }
  .mr-sp-15 {
    margin-right: 1.5rem !important;
  }
  .mr-sp-16 {
    margin-right: 1.6rem !important;
  }
  .mr-sp-18 {
    margin-right: 1.8rem !important;
  }
  .mr-sp-20 {
    margin-right: 2.0rem !important;
  }
  .mx-sp-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .mx-sp-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .mx-sp-1 {
    margin-left: 0.1rem !important;
    margin-right: 0.1rem !important;
  }
  .mx-sp-2 {
    margin-left: 0.2rem !important;
    margin-right: 0.2rem !important;
  }
  .mx-sp-3 {
    margin-left: 0.3rem !important;
    margin-right: 0.3rem !important;
  }
  .mx-sp-4 {
    margin-left: 0.4rem !important;
    margin-right: 0.4rem !important;
  }
  .mx-sp-5 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  .mx-sp-6 {
    margin-left: 0.6rem !important;
    margin-right: 0.6rem !important;
  }
  .mx-sp-8 {
    margin-left: 0.8rem !important;
    margin-right: 0.8rem !important;
  }
  .mx-sp-10 {
    margin-left: 1.0rem !important;
    margin-right: 1.0rem !important;
  }
  /* padding css */
  .pt-sp-0 {
    padding-top: 0 !important;
  }
  .pt-sp-1 {
    padding-top: 0.1rem !important;
  }
  .pt-sp-2 {
    padding-top: 0.2rem !important;
  }
  .pt-sp-3 {
    padding-top: 0.3rem !important;
  }
  .pt-sp-4 {
    padding-top: 0.4rem !important;
  }
  .pt-sp-5 {
    padding-top: 0.5rem !important;
  }
  .pt-sp-6 {
    padding-top: 0.6rem !important;
  }
  .pt-sp-8 {
    padding-top: 0.8rem !important;
  }
  .pt-sp-10 {
    padding-top: 1.0rem !important;
  }
  .pt-sp-12 {
    padding-top: 1.2rem !important;
  }
  .pt-sp-14 {
    padding-top: 1.4rem !important;
  }
  .pt-sp-15 {
    padding-top: 1.5rem !important;
  }
  .pt-sp-16 {
    padding-top: 1.6rem !important;
  }
  .pt-sp-18 {
    padding-top: 1.8rem !important;
  }
  .pt-sp-20 {
    padding-top: 2.0rem !important;
  }
  .pt-sp-22 {
    padding-top: 2.2rem !important;
  }
  .pt-sp-24 {
    padding-top: 2.4rem !important;
  }
  .pt-sp-25 {
    padding-top: 2.5rem !important;
  }
  .pt-sp-26 {
    padding-top: 2.6rem !important;
  }
  .pt-sp-28 {
    padding-top: 2.8rem !important;
  }
  .pt-sp-30 {
    padding-top: 3.0rem !important;
  }
  .pt-sp-32 {
    padding-top: 3.2rem !important;
  }
  .pt-sp-35 {
    padding-top: 3.5rem !important;
  }
  .pt-sp-36 {
    padding-top: 3.6rem !important;
  }
  .pt-sp-38 {
    padding-top: 3.8rem !important;
  }
  .pt-sp-40 {
    padding-top: 4.0rem !important;
  }
  .pt-sp-42 {
    padding-top: 4.2rem !important;
  }
  .pt-sp-45 {
    padding-top: 4.5rem !important;
  }
  .pt-sp-48 {
    padding-top: 4.8rem !important;
  }
  .pt-sp-50 {
    padding-top: 5.0rem !important;
  }
  .pt-sp-60 {
    padding-top: 6.0rem !important;
  }
  .pb-sp-0 {
    padding-bottom: 0 !important;
  }
  .pb-sp-1 {
    padding-bottom: 0.1rem !important;
  }
  .pb-sp-2 {
    padding-bottom: 0.2rem !important;
  }
  .pb-sp-3 {
    padding-bottom: 0.3rem !important;
  }
  .pb-sp-4 {
    padding-bottom: 0.4rem !important;
  }
  .pb-sp-5 {
    padding-bottom: 0.5rem !important;
  }
  .pb-sp-6 {
    padding-bottom: 0.6rem !important;
  }
  .pb-sp-8 {
    padding-bottom: 0.8rem !important;
  }
  .pb-sp-10 {
    padding-bottom: 0.10rem !important;
  }
  .pb-sp-12 {
    padding-bottom: 0.12rem !important;
  }
  .pb-sp-14 {
    padding-bottom: 0.14rem !important;
  }
  .pb-sp-15 {
    padding-bottom: 1.5rem !important;
  }
  .pb-sp-16 {
    padding-bottom: 1.6rem !important;
  }
  .pb-sp-18 {
    padding-bottom: 1.8rem !important;
  }
  .pb-sp-20 {
    padding-bottom: 2.0rem !important;
  }
  .pb-sp-22 {
    padding-bottom: 2.2rem !important;
  }
  .pb-sp-24 {
    padding-bottom: 2.4rem !important;
  }
  .pb-sp-25 {
    padding-bottom: 2.5rem !important;
  }
  .pb-sp-26 {
    padding-bottom: 2.6rem !important;
  }
  .pb-sp-28 {
    padding-bottom: 2.8rem !important;
  }
  .pb-sp-30 {
    padding-bottom: 3.0rem !important;
  }
  .pb-sp-32 {
    padding-bottom: 3.2rem !important;
  }
  .pb-sp-35 {
    padding-bottom: 3.5rem !important;
  }
  .pb-sp-36 {
    padding-bottom: 3.6rem !important;
  }
  .pb-sp-38 {
    padding-bottom: 3.8rem !important;
  }
  .pb-sp-40 {
    padding-bottom: 4.0rem !important;
  }
  .pb-sp-42 {
    padding-bottom: 4.2rem !important;
  }
  .pb-sp-45 {
    padding-bottom: 4.5rem !important;
  }
  .pb-sp-48 {
    padding-bottom: 4.8rem !important;
  }
  .pb-sp-50 {
    padding-bottom: 5.0rem !important;
  }
  .pb-sp-60 {
    padding-bottom: 6.0rem !important;
  }
  .pb-sp-70 {
    padding-bottom: 7.0rem !important;
  }
  .pb-sp-80 {
    padding-bottom: 8.0rem !important;
  }
  .pb-sp-90 {
    padding-bottom: 9.0rem !important;
  }
  .pl-sp-0 {
    padding-left: 0 !important;
  }
  .pl-sp-1 {
    padding-left: 0.1rem !important;
  }
  .pl-sp-2 {
    padding-left: 0.2rem !important;
  }
  .pl-sp-3 {
    padding-left: 0.3rem !important;
  }
  .pl-sp-4 {
    padding-left: 0.4rem !important;
  }
  .pl-sp-5 {
    padding-left: 0.5rem !important;
  }
  .pl-sp-6 {
    padding-left: 0.6rem !important;
  }
  .pl-sp-8 {
    padding-left: 0.8rem !important;
  }
  .pl-sp-10 {
    padding-left: 0.10rem !important;
  }
  .pl-sp-12 {
    padding-left: 0.12rem !important;
  }
  .pl-sp-14 {
    padding-left: 0.14rem !important;
  }
  .pl-sp-15 {
    padding-left: 1.5rem !important;
  }
  .pl-sp-16 {
    padding-left: 1.6rem !important;
  }
  .pl-sp-18 {
    padding-left: 1.8rem !important;
  }
  .pl-sp-20 {
    padding-left: 2.0rem !important;
  }
  .pr-sp-0 {
    padding-right: 0 !important;
  }
  .pr-sp-1 {
    padding-right: 0.1rem !important;
  }
  .pr-sp-2 {
    padding-right: 0.2rem !important;
  }
  .pr-sp-3 {
    padding-right: 0.3rem !important;
  }
  .pr-sp-4 {
    padding-right: 0.4rem !important;
  }
  .pr-sp-5 {
    padding-right: 0.5rem !important;
  }
  .pr-sp-6 {
    padding-right: 0.6rem !important;
  }
  .pr-sp-8 {
    padding-right: 0.8rem !important;
  }
  .pr-sp-10 {
    padding-right: 0.10rem !important;
  }
  .pr-sp-12 {
    padding-right: 0.12rem !important;
  }
  .pr-sp-14 {
    padding-right: 0.14rem !important;
  }
  .pr-sp-15 {
    padding-right: 1.5rem !important;
  }
  .pr-sp-16 {
    padding-right: 1.6rem !important;
  }
  .pr-sp-18 {
    padding-right: 1.8rem !important;
  }
  .pr-sp-20 {
    padding-right: 2.0rem !important;
  }
  .px-sp-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .py-sp-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 54.0rem;
  }
}

@media only screen and (max-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 72.0rem;
  }
}

@media print, screen and (max-width: 991px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 96.0rem;
  }
}

@media print, screen and (max-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 103.0rem;
  }
}

.container {
  max-width: 116.0rem;
}

.content-in {
  position: relative;
  max-width: 90.0rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[class*="col-"] {
  position: relative;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media print, screen and (min-width: 769px) {
  .col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

@media print, screen and (min-width: 992px) {
  .col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

.sm-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -1.0rem;
  margin-left: -1.0rem;
}

.sm-row > [class*="col-"] {
  padding-right: 1.0rem;
  padding-left: 1.0rem;
}

.lg-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -2.0rem;
  margin-left: -2.0rem;
}

.lg-row > [class*="col-"] {
  padding-right: 2.0rem;
  padding-left: 2.0rem;
}

.xl-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -3.0rem;
  margin-left: -3.0rem;
}

.xl-row > [class*="col-"] {
  padding-right: 3.0rem;
  padding-left: 3.0rem;
}

/* font size */
.fs-10 {
  font-size: 1.0rem !important;
}

.fs-12 {
  font-size: 1.2rem !important;
}

.fs-13 {
  font-size: 1.3rem !important;
}

.fs-14 {
  font-size: 1.4rem !important;
}

.fs-15 {
  font-size: 1.5rem !important;
}

.fs-16 {
  font-size: 1.6rem !important;
}

.fs-17 {
  font-size: 1.7rem !important;
}

.fs-18 {
  font-size: 1.8rem !important;
}

.fs-19 {
  font-size: 1.9rem !important;
}

.fs-20 {
  font-size: 2.0rem !important;
}

.fs-21 {
  font-size: 2.1rem !important;
}

.fs-22 {
  font-size: 2.2rem !important;
}

.fs-24 {
  font-size: 2.4rem !important;
}

.fs-26 {
  font-size: 2.6rem !important;
}

.fs-27 {
  font-size: 2.7rem !important;
}

.fs-28 {
  font-size: 2.8rem !important;
}

.fs-30 {
  font-size: 3.0rem !important;
}

.fs-32 {
  font-size: 3.2rem !important;
}

.fs-33 {
  font-size: 3.3rem !important;
}

.fs-35 {
  font-size: 3.5rem !important;
}

.fs-36 {
  font-size: 3.6rem !important;
}

.fs-36 {
  font-size: 3.6rem !important;
}

.fs-38 {
  font-size: 3.8rem !important;
}

.fs-40 {
  font-size: 4.0rem !important;
}

.fs-42 {
  font-size: 4.2rem !important;
}

.fs-45 {
  font-size: 4.5rem !important;
}

.fs-48 {
  font-size: 4.8rem !important;
}

.fs-50 {
  font-size: 5.0rem !important;
}

@media only screen and (max-width: 768px) {
  .fs-sp-8 {
    font-size: 0.8rem !important;
  }
  .fs-sp-9 {
    font-size: 0.9rem !important;
  }
  .fs-sp-10 {
    font-size: 1.0rem !important;
  }
  .fs-sp-11 {
    font-size: 1.1rem !important;
  }
  .fs-sp-12 {
    font-size: 1.2rem !important;
  }
  .fs-sp-13 {
    font-size: 1.3rem !important;
  }
  .fs-sp-14 {
    font-size: 1.4rem !important;
  }
  .fs-sp-15 {
    font-size: 1.5rem !important;
  }
  .fs-sp-16 {
    font-size: 1.6rem !important;
  }
  .fs-sp-17 {
    font-size: 1.7rem !important;
  }
  .fs-sp-18 {
    font-size: 1.8rem !important;
  }
  .fs-sp-20 {
    font-size: 2.0rem !important;
  }
  .fs-sp-21 {
    font-size: 2.1rem !important;
  }
  .fs-sp-22 {
    font-size: 2.2rem !important;
  }
  .fs-sp-24 {
    font-size: 2.4rem !important;
  }
  .fs-sp-26 {
    font-size: 2.6rem !important;
  }
  .fs-sp-27 {
    font-size: 2.7rem !important;
  }
  .fs-sp-28 {
    font-size: 2.8rem !important;
  }
  .fs-sp-30 {
    font-size: 3.0rem !important;
  }
  .fs-sp-32 {
    font-size: 3.2rem !important;
  }
  .fs-sp-33 {
    font-size: 3.3rem !important;
  }
  .fs-sp-35 {
    font-size: 3.5rem !important;
  }
  .fs-sp-36 {
    font-size: 3.6rem !important;
  }
  .fs-sp-36 {
    font-size: 3.6rem !important;
  }
  .fs-sp-37 {
    font-size: 3.7rem !important;
  }
  .fs-sp-38 {
    font-size: 3.8rem !important;
  }
  .fs-sp-40 {
    font-size: 4.0rem !important;
  }
  .fs-sp-42 {
    font-size: 4.2rem !important;
  }
  .fs-sp-45 {
    font-size: 4.5rem !important;
  }
  .fs-sp-48 {
    font-size: 4.8rem !important;
  }
  .fs-sp-50 {
    font-size: 5.0rem !important;
  }
}

/* font weight */
.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-normal {
  font-weight: normal !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-bold {
  font-weight: bold !important;
}

.bold {
  font-weight: bold !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

@media only screen and (max-width: 768px) {
  .fw-sp-300 {
    font-weight: 300 !important;
  }
  .fw-sp-400 {
    font-weight: 400 !important;
  }
  .fw-sp-normal {
    font-weight: normal !important;
  }
  .fw-sp-500 {
    font-weight: 500 !important;
  }
  .fw-sp-600 {
    font-weight: 600 !important;
  }
  .fw-sp-700 {
    font-weight: 700 !important;
  }
  .fw-sp-bold {
    font-weight: bold !important;
  }
  .fw-sp-800 {
    font-weight: 800 !important;
  }
  .fw-sp-900 {
    font-weight: 900 !important;
  }
}

/* line height */
.lh-1 {
  line-height: 1 !important;
}

.lh-2 {
  line-height: 2 !important;
}

@media only screen and (max-width: 768px) {
  .lh-sp-1 {
    line-height: 1 !important;
  }
  .lh-sp-2 {
    line-height: 2 !important;
  }
}

/* letter-space */
.ls-0 {
  letter-spacing: 0 !important;
}

.ls-1 {
  letter-spacing: 0.01em !important;
}

.ls-2 {
  letter-spacing: 0.02em !important;
}

.ls-3 {
  letter-spacing: 0.03em !important;
}

.ls-4 {
  letter-spacing: 0.04em !important;
}

.ls-5 {
  letter-spacing: 0.05em !important;
}

.ls-6 {
  letter-spacing: 0.06em !important;
}

.ls-8 {
  letter-spacing: 0.08em !important;
}

.ls-10 {
  letter-spacing: 0.1em !important;
}

.ls-15 {
  letter-spacing: 0.15em !important;
}

.ls-20 {
  letter-spacing: 0.2em !important;
}

@media only screen and (max-width: 768px) {
  .ls-sp-0 {
    letter-spacing: 0 !important;
  }
  .ls-sp-1 {
    letter-spacing: 0.01em !important;
  }
  .ls-sp-2 {
    letter-spacing: 0.02em !important;
  }
  .ls-sp-3 {
    letter-spacing: 0.03em !important;
  }
  .ls-sp-4 {
    letter-spacing: 0.04em !important;
  }
  .ls-sp-5 {
    letter-spacing: 0.05em !important;
  }
  .ls-sp-6 {
    letter-spacing: 0.06em !important;
  }
  .ls-sp-8 {
    letter-spacing: 0.08em !important;
  }
  .ls-sp-10 {
    letter-spacing: 0.1em !important;
  }
  .ls-sp-15 {
    letter-spacing: 0.15em !important;
  }
  .ls-sp-20 {
    letter-spacing: 0.2em !important;
  }
}

/* text color */
.color-black {
  color: #000000 !important;
}

.color-blue {
  color: #1A47A4 !important;
}

.color-green {
  color: #009A27 !important;
}

.color-red {
  color: #FF0000 !important;
}

.color-brown {
  color: #754C24 !important;
}

.color-white {
  color: #FFFFFF !important;
}

.color-yellow {
  color: #FF931E !important;
}

.color-gray {
  color: #898987 !important;
}

.color-purple {
  color: #B16E9E !important;
}

.color-peach {
  color: #E6B289 !important;
}

.color-olive {
  color: #C3BE71 !important;
}

.color-orange {
  color: #E8781A !important;
}

/* text align */
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media only screen and (max-width: 768px) {
  .text-sp-left {
    text-align: left !important;
  }
  .text-sp-right {
    text-align: right !important;
  }
  .text-sp-center {
    text-align: center !important;
  }
}

/* bg color */
.bg-white {
  background-color: #FFFFFF !important;
}

.bg-wheat {
  background-color: #F8F8F8 !important;
}

.bg-gray {
  background-color: #808080 !important;
}

.bg-green {
  background-color: #009245 !important;
}

.bg-brown {
  background-color: #754C24 !important;
}

.bg-orange {
  background-color: #F15A24 !important;
}

.bg-pink {
  background-color: #FF3985 !important;
}

.bg-red {
  background-color: #FF0000 !important;
}

.bg-blue {
  background-color: #1A47A4 !important;
}

.bg-black {
  background-color: #ffffff !important;
}

.vertical-baseline {
  vertical-align: baseline !important;
}

.vertical-middle {
  vertical-align: middle !important;
}

.vertical-bottom {
  vertical-align: bottom !important;
}

/* text underline */
.underline {
  text-decoration: underline !important;
}

/* round */
.r-3 {
  border-radius: 0.3rem !important;
}

.r-5 {
  border-radius: 0.5rem !important;
}

.r-6 {
  border-radius: 0.6rem !important;
}

.r-8 {
  border-radius: 0.8rem !important;
}

.r-10 {
  border-radius: 1.0rem !important;
}

.r-12 {
  border-radius: 1.2rem !important;
}

.r-15 {
  border-radius: 1.5rem !important;
}

.r-16 {
  border-radius: 1.6rem !important;
}

.r-18 {
  border-radius: 1.8rem !important;
}

.r-20 {
  border-radius: 2.0rem !important;
}

/* display */
.d-inline {
  display: inline !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

/* flex */
.flex-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

.justify-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.justify-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.l-content-in {
  position: relative;
  max-width: 70.0rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=common.css.map */
